<div class='sudoku-container'>
    <div class='sudoku-square-group-row'>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-1 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-1 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-1 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-2 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-2 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-2 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-3 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-3 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-3 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
        </div>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-1 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-1 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-1 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-2 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-2 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-2 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-3 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-3 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-3 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
        </div>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-1 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-1 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-1 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-2 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-2 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-2 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-3 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-3 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-3 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
        </div>
    </div>
    <div class='sudoku-square-group-row'>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-4 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-4 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-4 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-5 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-5 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-5 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-6 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-6 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-6 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
        </div>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-4 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-4 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-4 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-5 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-5 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-5 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-6 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-6 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-6 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
        </div>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-4 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-4 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-4 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-5 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-5 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-5 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-6 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-6 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-6 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
        </div>
    </div>
    <div class='sudoku-square-group-row'>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-7 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-7 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-7 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-8 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-8 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-8 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-9 sudoku-column-1'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-9 sudoku-column-2'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-9 sudoku-column-3'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
        </div>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-7 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-7 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-7 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-8 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-8 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-8 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-9 sudoku-column-4'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-9 sudoku-column-5'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-9 sudoku-column-6'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
             </div>
        </div>
        <div class='sudoku-square-group'>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-7 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-7 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-7 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div> 
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-8 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-8 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-8 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
            <div class='sudoku-box-group-row'>
                <div class='sudoku-box sudoku-row-9 sudoku-column-7'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-9 sudoku-column-8'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
                <div class='sudoku-box sudoku-row-9 sudoku-column-9'>
                    <input class='sudoku-input' maxlength='1'>
                    </input>
                </div>
            </div>
        </div>
    </div>
</div>
